link(rel='stylesheet', href='/public#{asset_token}/vendor/css/ui-lightness/jquery-ui-1.8.17.custom.css')
link(rel='stylesheet', href='/public#{asset_token}/css/base.css')

script(src='/public#{asset_token}/vendor/jquery-1.7.1.min.js')
script(src='/public#{asset_token}/vendor/jquery-ui-1.8.17.custom.min.js')
script(src='/public#{asset_token}/vendor/highcharts.js')
script(src='/public#{asset_token}/vendor/spin.min.js')