extends ../base

block title
  title Fuel Calculations

block scripts
  script(type='text/javascript', src='/public/js/fuel_public.js')

block content
  .well.well-large(style='margin-top: 50px;')
    h2 Fuel calculations
    h3 Max Reach
    div.form-horizontal
      select#vehicles
        option(value="") Select a vehicle(optional)
        each v in vehicles
          option(value='#{JSON.stringify(v)}') #{v.brand} #{v.model} - #{v.year}
      span.info Select a vehicle to use its fuel economy and capacity figures

      label(for='economy') Fuel Economy
      .input-append
        input#economy.span2(value="11.1", type='text')
        span.add-on l/100km

      label(for="capacity") Fuel Capacity
      .input-append
        input#capacity.span2(value='90', type='text')
        span.add-on l

      h4#max_reach

      label(for='desired_reach') Desired reach
      .input-append
        input#desired_reach(type='text', value='2000')
        span.add-on km
      h4#additional_capacity

    h3 Fuel expense for trip
    div.form-horizontal

      span(style='color: green') These are distribution fuel prices as of #{date}
      br
      select#petrol
        option(value="") Petrol price
        each p in petrol
          option(value='#{p.value}') #{p.description} - #{p.value}

      select#diesel
        option(value="") Diesel price
        each p in diesel
          option(value='#{p.value}') #{p.description} - #{p.value}

      label(for="fuel_price") Fuel Price
      .input-prepend
        span.add-on R
        input#fuel_price(value='12.00', type='text')

      label(for='trip_distance') Distance
      .input-append
        input#trip_distance.span2(value='5000', type='text')
        span.add-on km
      h4#expense